vsphere_user = "myuser"
vsphere_password = "mypw"
vsphere_server = "vcenter.lab"
vsphere_datacenter = "My Datacenter"
vsphere_datastore = "data"
vsphere_compute_cluster = "My Cluster"
vsphere_resource_pool = "cluster/Resources"
vsphere_network = "VM Network"
vsphere_virtual_machine_template = "linux-rocky-8.7-rke2-rocky8-template"
vsphere_virtual_machine_name = "nathan-tf"
ssh_pubkey = ""